@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin:0;
  overflow-x:hidden
}

h1, h2, h3, h4, h5, h6{
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@layer base {
  .flex-center{
    @apply flex justify-center items-center;
  }
  .flex-between{
    @apply flex justify-between items-center;
  }
  .nav-links{
    @apply -rotate-90 tracking-[1px]  uppercase text-[17px] font-semibold whitespace-nowrap;
  }
  .division{
    @apply w-[8vw] relative h-1 bg-white/80 
  }
  .sub-text{
    @apply text-lg uppercase tracking-[6px] font-medium;
  }
}

.outline-text{
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.spline-object{
  width:100%;
  height:100%;
  position: fixed;
  z-index: -1;
}